/*---------------------ОБЩИЕ И СЛУЖЕБНЫЕ СТИЛИ---------------------*/

	*, *::before, *::after {
		box-sizing: inherit;
	}

	html {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.visually-hidden {
	  position: absolute;
	  clip: rect(0 0 0 0);
	  width: 1px;
	  height: 1px;
	  margin: -1px;
	  …
	}

	.container {
		width: 940px;
		margin: 0 auto;
	}

/*---------------------ШАПКА---------------------*/
	/*--ОСНОВНЫЕ СТИЛИ ШАПКИ--*/
		.page-header {

			background-color: #f3f7f8;

			padding-bottom: 60px;

			font-size: 17px;
			font-family: 'Cuprum', 'Myriad Pro', sans-serif;
	}
		/*--ВЕРХ ШАПКИ--*/
			.header-top {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-around;

				padding: 0;

				width: 100%;
				min-height: 42px;
				border: none;

				background-color: #293449;

				color: white;
				}

				.header-top .container {
					display: flex;
				}

				/*ЛОГОТИП*/
					.header-logo {
						display: block;
						width: 220px;
						height: 47px;

						position: absolute;

						border-bottom: 5px solid #b52933;

						background-color: #ee3643;

						text-align: center;
						line-height: 55px;
					}

					.header-logo:hover,
					.header-logo:focus {
						background-color: #ca2c37;

						border-bottom: 5px solid #9a212a;
					}

					.header-logo:active {
						background-color: #ba2732;

						border-bottom: 5px solid #8e1e26;
					}

				/*ПОИСК*/
				.header-search {
					width: 270px;
					height: 42px;

					display: flex;

					position: relative;

					margin-left: 220px;
					}

				.search-icon-img {
					position: absolute;
					top: 10px;
					left: 15px;
				}
							/*Настройки состояний*/
								.header-search:hover {
									background-color: #212a3a;
								}

						.search-form { /*форма поиска*/
							width: 270px;
							height: 42px;
							border: none;

							padding-left: 50px;
							background-color: transparent;

							color: white;

							position: relative;
							}


										.search-form::placeholder {
											color: white;
											}	

										.search-form::-ms-input-placeholder {
											color: white;
										}


								/*Настройки состояний*/
									
										.search-form:hover ~ .search-icon-img,
										.search-icon-img:hover {
											fill: yellow;
											stroke: yellow;
										}

										.search-form:focus {
											background: white;
											outline: none;
											color: black;
										}
										.search-form:focus ~ .search-icon {
											position: absolute;
											top: 0;
											left: 0;
											background: white url('../img/icon-search-red.svg') no-repeat 49% 49%;
										}

										/*Настройки автозаполнения в ВЕБКИТ*/
									 		.search-form:-webkit-autofill {
									 			-webkit-box-shadow: 0 0 0px 1000px #212a3a inset;
									 			-webkit-text-fill-color: white;
									 		}

											.search-form:-webkit-autofill:hover {
												-webkit-box-shadow: 0 0 0px 1000px #293449 inset;
									 			-webkit-text-fill-color: white;
											}

											.search-form:-webkit-autofill:focus {
												  -webkit-text-fill-color: black;
												  -webkit-box-shadow: 0 0 0px 1000px white inset;
												  transition: background-color 5000s ease-in-out 0s;
											}

				/*КНОПКИ*/
					.bookmarks-btn {
							width: 150px;
							height: 42px;

							background-color: transparent;
							
							line-height: 42px; /*=высоте, центровщик*/
							text-align: center;

							display: flex;
							}

						.bookmarks-icon {
							margin: 12px 11px 10px 17px;
						}

								/*Настройки состояний*/
									.bookmarks-btn:hover,
									.bookmarks-btn:focus {
										background-color: #212a3a;
									} 

									.bookmarks-btn:hover * {
										fill: white;
									}

									.bookmarks-btn:active {
										background-color: #161d29;
										color: #8b8e94;
									}

									.bookmarks-btn:active * {
										fill: rgba(255, 255, 255, 0.5);
									}


						.shopping-cart-btn {
							width: 150px;
							height: 42px;

							background-color: transparent;

							line-height: 42px; /*=высоте, центровщик*/
							text-align: center;

							display: flex;
							}

							.shopping-cart-header-icon {
								margin: 12px 17px 10px 17px;
							}

								/*Настройки состояний*/
									.shopping-cart-btn:hover,
									.shopping-cart-btn:focus {
										background-color: #212a3a;
										}

									.shopping-cart-btn:hover * {
										fill: white;
									}

									.shopping-cart-btn:active {
										background-color: #161d29;
										color: #8b8e94;
									}

									.shopping-cart-btn:active * {
										fill: rgba(255, 255, 255, 0.5);
									}

									.shopping-cart-btn-fullcart {
										background-color: #ee3643;
										}

									

						.order-btn {
							width: 150px;
							height: 42px;

							background-color: #63a63e;

							line-height: 42px; /*=высоте, центровщик*/
							text-align: center;
							}

								/*Настройки состояний*/
									.order-btn:hover,
									.order-btn:focus {
										background-color: #5fbb2d;
									}

									.order-btn:active {
										background-color: #518534;
										color: #a8c29a;
									}

		/*--ОСНОВНАЯ ЧАСТЬ ШАПКИ--*/	
			.header-main {
				display: flex;
				justify-content: space-between;

				padding-top: 46px;
				padding-bottom: 40px;
				padding-left: 53px;

				min-height: 75px;
			}

					.page-title {
						width: 205px;
						margin: 0;
						margin-bottom: auto;

						padding-top: 3px;

						color: #ee3643;
						font-style: italic;
						font-size: 16px;
						line-height: 23px;
					}

					.header-contacts {
						margin-bottom: auto;

						}

							.header-contacts-phone-number {
								display: block;

								width: 270px;
								height: 45px;

								padding-top: 0px;
								padding-left: 20px;

								border: 3px solid white;

								background: url(../img/icon-phone.svg) no-repeat 5% 50%;

								color: #ee3643;
								font-size: 21px;
								text-align: center;
								line-height: 40px;
								}

							.header-constacts-address {
								display: block;

								width: 278px;

								margin: 8px 0 auto 0;
								padding-left: 10px;

								color: #32425c;
								font-size: 14px;
								}

					.user-nav {
						margin-bottom: auto;

						}
							.user-nav ul {
								padding: 0;
								margin: 0;

								width: 280px;

								list-style: none;

								display: flex;
								justify-content: space-between;
								align-content: flex-start;
								
									}
										.user-nav-item {

											}
												.user-btn {
													display: flex;

													width: 120px; /*ширина по умолчанию*/
													height: 45px;

													background-color: white;

													color: black;
													font-size: 21px;
													line-height: 45px; /*=высоте, центровщик*/
													text-align: center;
													}

													.login-icon {
														margin: 13px 12px 10px 13px;
													}

															/*Настройки состояний*/
																.user-btn:hover,
																.user-btn:focus {
																	color: #ee3643;
																}

																.user-btn:active {
																	color: #c5c5c5;
																}

															/*Настройки ширины*/				
																.user-login-btn {
																	width: 120px;

																}
																.user-register-btn {
																		width: 150px;
																		justify-content: center;
																}

					.user-info {

						margin: auto;

						}
							.user-card {
								display: block;

								width: 300px;
								height: 45px;

								background-color: white;

								text-align: center;
							}					

								 	.username {
								 		font-size: 21px;
								 	}
								 		/*Настройки состояний*/
									 		.username:active {
									 			color: rgba(0, 0, 0, 0.3);
									 		}


					.user-menu {
						color: #32425c;

						margin: 0;
						padding: 0;

						display: flex;
					}
							.user-menu a {
								text-decoration: underline;
							}
								/*Настройки состояний*/
									.user-menu a:hover,
									.user-menu a:focus {
										color: #ee3643;
									}
									.user-menu a:active {
										color: rgba(0, 0, 0, 0.3);
									}

							.user-menu li:first-of-type {
								list-style: none;

								margin-right: 30px;
							}


		/*--ОСНОВНАЯ НАВИГАЦИЯ--*/												
			.site-nav {

				background-color: #32425c;

				color: white;
				}
					.site-nav ul {
						display: flex;
						justify-content: space-around;
						align-items: stretch;

						min-height: 60px;

						margin: 0;
						list-style: none;

						padding-left: 21px;
						padding-right: 21px;
						border-bottom: 5px solid #293449;
					}	
					 		.site-nav-item {

					 		padding: 19px 30px 17px 30px;

					 			}
					 				/*Настройки состояний*/
						 				.site-nav-item:hover,
						 				.site-nav-item:focus {
						 					background-color: #293449;
					 					}

										.site-nav-item:active {
											background-color: #293449;

											color: #868c95;
										}

/*---------------------ОСНОВНОЕ СОДЕРЖАНИЕ СТРАНИЦЫ---------------------*/
	main {
		font-family: 'PT Sans', 'Myriad Pro', sans-serif;
		font-size: 13px;
	}

	/*Заголовки*/

		.section-heading {
			color: black;
			font-family: 'Cuprum', 'Myriad Pro', sans-serif; 
			font-size: 30px;
			line-height: 30px;
			text-transform: uppercase;

			margin: 0;
		}

		.section-heading-catalog {
			color: #32425c;
			font-family: 'Cuprum', 'Myriad Pro', sans-serif; 
			font-size: 30px;
			line-height: 30px;
			text-transform: uppercase;

			margin: 0;
		}

	/*Кнопки "Смотреть все" (красные)*/
			.to-all-btn {
				display: block;

				width: 220px; /*ширина по умолчанию*/
				height: 38px; 
				border-radius: 3px; 

				background-color: #ee3643;

				color: white;
				font-size: 14px;
				line-height: 38px; /*=высоте, центровщик*/
				text-align: center;
				font-family: 'Cuprum', sans-serif;
				text-transform: uppercase; 
				}
						/*Настройки состояний*/
								.to-all-btn:hover,
								.to-all-btn:focus {
									background-color: #ca2c37;
								}
								.to-all-btn:active {
									background-color: #ba2732;
								}

						/*Настройки ширины*/
								.to-all-btn-1 {
									width: 300px;
								}
								.to-all-btn-2 {
									width: 250px;
								}
								.to-all-btn-3 {
									width: 220px;
								}
								.to-all-btn-4 {
									width: 195px;
								}

	/*------------------------------------------ГЛАВНАЯ СТРАНИЦА---------------------*/
		/*---------------------Раздел "ПРОМО"---------------------*/
			.promo {
				padding-top: 60px;
				padding-bottom: 51px;
			}

			.promo-cards-top {
				list-style: none;
				margin: 0;
				padding: 0;

				display: flex;
				justify-content: space-between;
			}

			.promo-cards-bottom {
				display: flex;
				justify-content: space-between;
			}

			.promo-cards-right {
				list-style: none;
				margin: 0;
				padding: 0;

				display: flex;
				flex-direction: column;
			}

					.promo-cards-right .promo-item {
						margin-top: 18px;
					}

			.promo-cards-slider {
				list-style: none;
				margin: 0;
				padding: 0;

				margin-top: 19px;
			}

					.promo-item {
						width: 300px;
						height: 125px;

						position: relative;
						display: flex;
						flex-direction: column;

						background-repeat: no-repeat;

						color: white;
					}

					.promo-card-heading {
						font-size: 24px;
						font-weight: bold;

						font-family: 'Cuprum', sans-serif;

						margin: 0;
						margin-left: 23px;
						margin-top: 23px;
						
					}

					.promo-btn {
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 135px;
						min-height: 38px; 
						
						background-color: rgba(0, 0, 0, 0.1);
						border-radius: 3px; 

						font-size: 14px;
						text-align: center;
						font-family: 'Cuprum', sans-serif;
						text-transform: uppercase;

						margin-left: 25px;
						margin-top: 14px;

					}
								/*Настройки состояний*/
									.promo-btn:hover,
									.promo-btn:focus {
										background-color: rgba(0, 0, 0, 0.2);
									}

									.promo-btn:active {
										background-color: rgba(0, 0, 0, 0.3);
									}


							/*КАРТОЧКИ*/
							.promo-item-materials {
								background-color: #ffbf47;
								background-image: url('../img/icon-1.svg');
								background-position: 83% 50%;
							}

							.promo-item-instrument {
								background-color: #3bbce3;
								background-image: url('../img/icon-2.svg');
								background-position: 88% 53%;
							}

							.promo-item-tech {
								background-color: #dc91d8;
								background-image: url('../img/icon-3.svg');
								background-position: 86% 47%;
							}

							.promo-item-sale {
								background-color: #8ed78f;
								background-image: url('../img/icon-4.svg');
								background-position: 82% 47%;

							}

							.promo-item-delivery {
								background-color: #ffc047;
								background-image: url('../img/icon-5.svg');
								background-position: 87% 54%;
							}


					.promo-item-slider {
						width: 620px;
						height: 268px;

						color: white;

						position: relative;
							}
								/*Настройки состояний*/
									.promo-item-slider-drill {
										background: url('../img/drill-man.jpg') no-repeat top center;
									}

									.promo-item-slider-perforator {
										display: none;
										background: url('../img/perforator-man.jpg') no-repeat top center;
									}

							.promo-slider-heading {
								font-size: 36px;
								font-weight: bold;
								font-family: 'Cuprum', sans-serif;
								text-transform: uppercase;

								margin: 0;
								padding-left: 23px;
								padding-top: 21px;
							}

							.promo-slider-description {
								font-size: 18px;
								font-family: 'Cuprum', sans-serif;

								margin: 0;
								margin-top: 3px;
								margin-left: 24px;
							}

							.promo-slider-opencatalog-btn {
								position: absolute;

								left: 24px;
								bottom: 24px;
							}

							.promo-slider-back-btn {
								position: absolute;

								left: 25px;
								top: 50%;

								width: 25px;
								height: 40px;

							}

							.promo-slider-forward-btn {
								position: absolute;

								right: 25px;
								top: 50%;

								width: 25px;
								height: 40px;

							}

		/*---------------------Разделы "Популярное"---------------------*/
			.popular {
				padding-bottom: 85px;
			}

			.popular-heading-container {
				background: #f9f5f0;

				display: flex;
				justify-content: space-between;

				padding-left: 28px;
				padding-top: 28px;
				padding-right: 28px;

				min-height: 89px;
			}

			.popular .section-heading-catalog {
				margin-top: 3px;
			}

			.popular-catalog {
				margin: 0;
				margin-bottom: 20px;
			}

			.producers {
				list-style: none;
				padding: 0;
				margin: 0;

				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
					.producer-item {
						width: 220px;
						height: 145px;

						border: 1px solid #eaeaea;

						display: flex;
						flex-direction: column;
						justify-content: center;

						margin-top: 20px;
					}
						.producer-img {
							display: block;
							margin: auto;
						}

					/*Настройки состояний*/	

					.producer-item:hover,
					.producer-item:focus {
						box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
					}

		/*---------------------Раздел "Сервисы"---------------------*/
			.services {
				background-color: #f4f8f9;

				min-height: 521px;
			}

			.services-columns {
				display: flex;
				justify-content: space-between;
			}

			.services .container {
				padding-top: 60px;

			}

			.services-description {
				width: 400px;

				margin: 0;
				margin-top: 30px;
				margin-bottom: 70px;

				line-height: 24px;
			}

				.services-slider {
					display: inline-block;

					padding: 0;
					margin: 0;
					list-style: none;
				}
					.services-slider-item {
						width: 240px;
						height: 60px;

						padding-left: 20px;
						padding-top: 17px;

						background-color: #32425c;

						border-top: 1px solid #405069;
						border-bottom: 1px solid #293449;

						color: white;
						font-size: 21px;
						font-weight: bold;
						font-family: 'Cuprum', sans-serif;
					}
							/*Настройки состояний*/
								.services-slider-item-active {
									background-color: white;

									color: #32425c;

									border-top: none;
								}

								.services-slider-item-normal:hover {
									background-color: #293449;
								}

						.service-description {
							list-style: none;
							margin: 0;
							padding: 0;

							padding-left: 80px;

							width: 100%
							height: 325px;

						}

								.service-description-item {
									width: 700px;

									padding-bottom: 90px;
								}

								.service-description-item h3 {
										font-size: 36px;
										font-family: 'Cuprum', sans-serif;
										color: #32425c;
										text-transform: uppercase;

										margin: 0;
									}

								.service-description-item p {
									min-height: 100px;

									line-height: 24px;

									margin: 0;
									width: 280px;
									padding-top: 30px;
								}

									/*Настройки состояний*/
									.service-description-delivery {
										background-image: url(../img/car-delivery.png);
										background-repeat: no-repeat;
										background-position: 80% 0%;
									}
 			
		/*---------------------Разделы "О компании", "Контакты"---------------------*/
			.about-and-contacts {
				background-color: white;

				display: flex;
				justify-content: space-between;

				padding-top: 79px;
				padding-bottom: 85px;
			}

			.about-company-description {
				margin-top: 25px;

				width: 520px;

				line-height: 24px;
			}

			.about-company-cargocompanies {
				list-style: none;
				margin: 0;
				margin-top: 10px;

				padding-left: 25px;

				font-family: 'Cuprum', 'Myriad Pro', sans-serif; 
				font-size: 18px;
				line-height: 40px;
			}

					.about-company-cargocompanies-item {
						position: relative;

						padding-left: 10px;
					}
							.about-company-cargocompanies-item::before {
								content: "";

								position: absolute;
								left: -25px;
								top: 18px;

								display: block;

								width: 25px;
								height: 2px;

								background-color: #ee3643;
							}

					.about-company-more-btn {
						margin-top: 25px;
					}

			.pickup-in-office {
				width: 185px;

				margin-top: 25px;

				line-height: 24px;
			}

			.open-map-popup {
				display: block;

				margin-top: 30px;
			}

			.contact-info-write-us-btn {
				margin-top: 40px;
			}

	/*------------------------------------------ВНУТРЕННЯЯ СТРАНИЦА---------------------*/
		/*---Хлебные крошки---*/
			.breadcrumbs {
				list-style: none;
				text-transform: uppercase;

				margin: 0;
				padding: 0;
				min-height: 60px;

				display: flex;
				align-items: center;
			}
					.breadcrumb-home-page {
						width: 15px;
						height: 15px;

						background: url(../img/icon-home.svg) no-repeat 50% center;
					}

					.breadcrumb-item:not(.breadcrumb-home-page) {
						margin-left: 40px;
					}

		/*---Заголовок страницы каталога---*/
			.inner-catalog-heading {
				display: block;

				height: 90px;

				background-color: #f2f6f8;

				padding: 30px;
				margin-bottom: 20px;
			}

		.filter-catalog-flex {
				display: flex;
			}

		.catalog-flex {
				display: flex;
				flex-direction: column;

				margin-left: 20px;
				padding-bottom: 60px;
			}



		/*---ФИЛЬТРЫ---*/
			.filters-heading {
				display: block;

				margin: 0;
				margin-bottom: 15px;
				padding: 12px 20px 10px 20px;

				width: 100%;
				height: 40px;

				background-color: #f7f3ec;

				text-transform: uppercase;
			}

			.filter-section-heading {
				font-size: 17px;
				text-transform: uppercase;
				font-weight: bold;

				padding-top: 15px;
				margin-bottom: 15px;
			}

			.filter-list {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			.filter-list li {
				margin-bottom: 15px;
			}


			.filter-form fieldset {
				border-top: 0;
				border-left: 0;
				border-right: 0;
				border-bottom: 1px solid #e5e5e5;

				padding: 0;
				padding-bottom: 20px;
				padding-top: 20px;
			}
					.filter-form fieldset:last-of-type {
						border: 0;
					}

			.filter-form label {
				text-transform: uppercase;
				font-size: 15px;
			}

			.price-range {
				width: 220px;
				height: 80px;

				padding: 30px;

				background-color: #f7f3ec;

				margin-bottom: 10px;

			}

			.price-outputs {
				display: flex;
				justify-content: space-between;
			}

			.price-output {
				width: 95px;
				height: 40px;

				background-color: #f7f3ec;

				font-size: 17px;

				text-align: center;
			}

			.show-filtration-btn {
				display: block;
				box-sizing: border-box;
				width: 140px;
				height: 38px; 
				border: 1px solid #e5e5e5;
							
				background-color: transparent;

				color: black;
				font-size: 13px;
				line-height: 38px; /*=высоте, центровщик*/
				text-align: center;
				text-transform: uppercase;
			}

		/*---СОРТИРОВКА---*/

			.sorting {
				display: flex;
				justify-content: space-between;

				margin: 0;
				margin-bottom: 15px;
				padding: 0px 20px 10px 20px;

				height: 40px;

				background-color: #f7f3ec;

				text-transform: uppercase;
			}

				.sorting-type {
					margin: 0;
					padding: 0;
					padding-top: 12px;
					list-style: none;

					display: flex;
					justify-content: space-between;
				}

				.sorting-item {
					color: #cacaca;
					border-bottom: 1px dotted #f06870;
					}
					/*Настройки состояний*/
							.sorting-item-normal:hover {
								color: black;
								border-bottom: 1px solid #f06870;
							}

							.sorting-item-active {
								color: #f06870;
								border: none;
							}

		/*---ПАГИНАЦИЯ---*/
			.pagination {
				list-style: none;
				padding: 0;
				margin-top: 50px;

				width: 290px;

				display: flex;
				justify-content: space-between;
			}

				.pagination-btn {
					display: block;
					width: 38px;
					height: 38px; 
					border: 1px solid #e5e5e5;
					border-radius: 3px; 
						
					background-color: transparent;

					color: black;
					font-size: 13px;
					line-height: 38px; /*=высоте, центровщик*/
					text-align: center;
					font-family: 'Cuprum', sans-serif;
					text-transform: uppercase;
				}

						/*Настройки состояний*/
							.pagination-btn-current {
								border-color: #ee3643;

								background-color: #ee3643;
								color: white;
							}

							.pagination-btn-next {
								width: 140px;
							}

							.pagination-btn-normal:hover,
							.pagination-btn-normal:focus {
								border-color: #bdc6ca;
							}

							.pagination-btn-normal:active {
								border-color: #ee3643;
							}

		/*---О ТОВАРАХ---*/
			.about-items {
				background-color: #f2f6f8;
			}

			.about-items .container {
				padding-top: 60px;
				padding-bottom: 60px;
			}

			.about-items-description {
				line-height: 24px;
			}

	/*---КАРТОЧКИ ТОВАРОВ---*/

		.catalog {
			list-style: none;
			padding: 0;

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
				.catalog-item {
					display: inline-block;

					width: 220px;
					height: 318px;

					border: 1px solid #e5e5e5;

					text-align: center;

					position: relative;
					z-index: 50;

					margin-top: 20px;
					}
							.catalog-item-title {
								margin: 10px 0 10px 0;

								font-size: 18px;
								font-weight: bold;
							}

							.old-price {
								display: block;

								margin-bottom: 10px;

								font-size: 17px;
								font-weight: bold;
								color: #999999;
								text-decoration: line-through;
								}

							.new-price {
								display: block;
								position: relative;

								width: 122px;
								height: 38px;

								margin: 0 auto;

								background-color: #ee3643;

								font-size: 17px;
								font-weight: bold;
								color: white;
								line-height: 38px; /*вертикальный центровщик*/
							}

							.new-price::after {
								content: "";
								display: block;

								background-color: #ee3643;

								width: 27px;
								height: 27px;

								position: absolute;
								top: 6px;
								left:109px;

								transform: rotate(45deg);
							}

				/*Настройки состояний*/
						.item-new {
						}
								.item-new::after {
									content: "";

									display: block;
									width: 60px;
									height: 59px;

									position: absolute;
									z-index: 90;
									top: 0px;
									right: 0;

									background: url('../img/new-flag.png')
								}

						.catalog-item-hover {
							display: none;

						}

						.catalog-item:hover,
						.catalog-item:focus {
							box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
						}

						.catalog-item:hover .catalog-item-unhover,
						.catalog-item:focus .catalog-item-unhover {
							display: none;
						}

						.catalog-item:hover .catalog-item-hover,
						.catalog-item:focus .catalog-item-hover {
							margin-top: 1px;

							display: block;

							width: 218px;
							height: 172px;

							text-align: center;
						}

						/*КНОПКИ ПРИ НАВЕДЕНИИ НА КАРТОЧКУ*/
								.item-buy-btn { 			/*кнопка "Купить"*/
								display: block;
								box-sizing: border-box;
								width: 135px;
								height: 38px;
								border-bottom: 3px solid #367315;
								border-radius: 3px; 
								margin: 0 auto;
								
								background-color: #63a63e;

								color: white;
								font-size: 14px; 
								line-height: 38px; /*=высоте, центровщик*/
								text-align: center;
								font-family: 'Cuprum', sans-serif;
								text-transform: uppercase;
								}
										/*Настройки состояний*/
											.item-buy-btn:hover,
											.item-buy-btn:focus {
												background-color: #5fbb2d;
											}

											.item-buy-btn:active {
												background-color: #518534;
												border: none;
											}

								.item-bookmark-btn { 			/*кнопка "В закладки"*/
									display: block;
									box-sizing: border-box;
									width: 135px;
									height: 38px; 
									border: 3px solid #63a63e;
									border-radius: 3px; 
									margin: 0 auto;

									background-color: transparent;

									color: #32425c;
									font-size: 14px; 
									line-height: 32px; /*высота минус бордер, центровщик*/
									text-align: center;
									font-family: 'Cuprum', sans-serif;
									text-transform: uppercase;
								}

										/*Настройки состояний*/
											.item-bookmark-btn:hover,
											.item-bookmark-btn:focus {
												border-color: rgba(50, 66, 92, 1);
											}

											.item-bookmark-btn:active {
												border-color: rgba(50, 66, 92, 0.3);

												color: rgba(50, 66, 92, 0.3);
											}

	/*---------------------ПОПАПЫ---------------------*/

		.map-popup {
			display: none;
		}

		.write-us-popup {
			display: none;
		}

		.cart-add-popup {
			display: none;
		}

/*---------------------ПОДВАЛ---------------------*/
	/*--ОСНОВНЫЕ СТИЛИ ПОДВАЛА--*/
		.page-footer {
			background-color: #32425c;

			font-size: 18px;
			font-family: 'Cuprum', 'Myriad Pro', sans-serif;
			color: #f1f5f7;

	}

		/*--ВЕРХ ПОДВАЛА--*/
				.footer-top {
					background-color: #32425c;

					min-height: 195px;
				}

					.footer-top .container {
						display: flex;
					}

					/*Логотип*/
					.footer-logo {
						display: block;
						width: 220px;
						height: 70px;

						border-bottom: 5px solid #b52933;

						background-color: #ee3643;

						text-align: center;

						padding-top: 20px;
					}

					.footer-logo:hover,
					.footer-logo:focus {
						background-color: #ca2c37;

						border-bottom: 5px solid #9a212a;
					}

					.footer-logo:active {
						background-color: #ba2732;

						border-bottom: 5px solid #8e1e26;
					}


					.footer-companyinfo {
						display: flex;
						flex-direction: column;

						width: 340px;

					}

					/*--Навигация--*/
						.footer-nav {
							display: flex;
							flex-direction: column;

							width: 590px;

						}

								.footer-main-nav {
									display: flex;
									justify-content: flex-end;

									margin: 0;
									padding: 0;

									list-style: none;
									}
										/*Настройки состояний*/
											.footer-main-nav .footer-nav-item:active {
												color: #f1f5f7;
												text-decoration: none;
											}

								.footer-special-nav {
									display: flex;
									justify-content: flex-end;

									margin: 0;
									padding: 0;

									list-style: none;

									color: #ffd180;
									}
										/*Настройки состояний*/
											.footer-special-nav .footer-nav-item:active {
												color: #998a6e;
												text-decoration: none;
											}

								/*Общие Настройки состояний*/
									.footer-nav-item:hover,
									.footer-nav-item:focus {
										text-decoration: underline;
									}


								.footer-nav-item {
									margin-top: 40px;
									margin-left: 60px;
								}

		/*--НИЗ ПОДВАЛА--*/
				.footer-bottom {
					background-color: #293449;

					padding-top: 35px;

					min-height: 105px;
				}

				.footer-bottom .container {
					display: flex;
					justify-content: space-between;
				}

				.footer-contacts {
					margin: 0;
				}
 
				.footer-contacts-address {
					margin-top: 23px;
					margin-bottom: 0;

					padding-left: 3px;
				}

				.footer-contacts-phone-number {
					margin-top: 3px;
					margin-bottom: 0;

					padding-left: 3px;
				}

					/*--Все ссылки--*/
						.footer-bottom a {
							color: #ffd180;
						}
							/*Настройки состояний*/
								.footer-bottom a:hover,
								.footer-bottom a:focus{
									text-decoration: underline;
								}

								.footer-bottom a:active {
									color: #ee3643;
									text-decoration: none;
								}


					/*--Социальные кнопки--*/
						.footer-social {

								}
									.footer-social ul {
										display: flex;	

										padding: 0;
										list-style: none;
									}

											.social-btn {
													padding-left: 5px;
											}

												.social-btn a {
													display: block;

													width: 40px;
													height: 40px;

													

													background-color: #212a3a;

													border-radius: 50%;
												}
													/*Настройки состояний*/
														.social-btn a:hover,
														.social-btn a:focus,
														.social-btn a:active {
															background-color: #ee3643;
														}

														.social-btn-vk {
														 	background: url(../img/vk-icon.svg) no-repeat 50% center;
														}

														.social-btn-fb {
															background: url(../img/fb-icon.svg) no-repeat 50% center;
														}

														.social-btn-inst {
															background: url(../img/insta-icon.svg) no-repeat 50% center;
														}

					.footer-feedback {
						width: 150px;
					}

					.footer-dev-link {
						width: 110px;
					}